# Ignore environment files
.env

# Ignore Python cache and logs
__pycache__/
*.pyc
*.log

# Ignore virtual environments
venv/
.venv/

*.sqlite
*.db

# Ignore password generator script 
generate_password.py
generate_password1.py